<div ng-controller="JobController as ctrl">
<!-- <div ng-show="currentUser==''">
<div class="alert alert-danger fade in">You are not logged in!</div>
</div></div> -->

<div ng-hide="currentUser==''">
<div class="panel panel-default" ng-controller="JobController as ctrl">
<div class="panel heading">
<span class="lead">Post the Job Details!</span>
</div>
<div class="formcontainer">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<div class="row">
 <div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="title">Title</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.jobTitle" id="title"
class="title form-control input-sm" placeholder="Enter the job title">
</div>
</div>
</div>
 
<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="qualification">Qualification</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.skillsRequired" id="qualification"
class=" qualification form-control input-sm" >
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="description">Description</label>
<div class="col-md-7">
<textarea rows="20" cols="300" ng-model="ctrl.job.jobDescription" id="description"
class="description form-control input-sm"></textarea>
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="salary">salary</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.salary" id="salary"
class=" qualification form-control input-sm" >
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="location">location</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.location" id="location"
class=" qualification form-control input-sm" >
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<input type="submit" value="POST JOB" class="btn btn-primary btn-sm">
<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset Form</button>
</div>
</div>
</form>
</div>
</div>
</div>
